.FiltersDiv {
    border-radius: 25px;
    box-shadow: 0px 32px 34px 0px rgba(0, 0, 0, 0.13);
    font-family: "DM Sans", sans-serif;
    background-color: #fff;
    margin-top: 64px;
    padding: 0 80px 0 30px;
  }
  @media (max-width: 991px) {
    .FiltersDiv {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .FiltersDiv-2 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .FiltersDiv-2 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .FiltersItem {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 23%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .FiltersItem {
      width: 100%;
    }
  }
  .FiltersItem {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 27%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .FiltersItem {
      width: 100%;
    }
  }
  .FiltersItem-1 {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    gap: 13px;
    font-size: 17px;
    color: #000;
    font-weight: 700;
    white-space: nowrap;
    letter-spacing: -0.43px;
  }
  @media (max-width: 991px) {
    .FiltersItem-1 {
      margin-top: 40px;
      
      gap: 14px;
      justify-content: center;
    }
    .FilterItemStyling{
      background-color: white!important;
    }
    .FiltersItem {
      margin-left: 0;
    }
  }
  .FilterItemStyling {
    background-color: #e4e4e4;
    align-self: stretch;
    width: 1px;
    height: 120px;
  }
  .FilterHead {
    font-family: DMSans, sans-serif;
    align-self: stretch;
    margin: auto 0;
  }
  .FilterImg {
    aspect-ratio: 1.72;
    object-fit: auto;
    object-position: center;
    width: 12px;
    align-self: stretch;
    margin: auto 0;
  }
